[submodule "Subsystems"]
	path = Subsystems
	url = https://github.com/BinghamtonRover/Subsystems
[submodule "Autonomy"]
	path = Autonomy
	url = https://github.com/BinghamtonRover/Autonomy
[submodule "Networking"]
	path = Networking
	url = https://github.com/BinghamtonRover/Networking
[submodule "opencv_ffi"]
	path = opencv_ffi
	url = https://github.com/Levi-Lesches/opencv_ffi
[submodule "Video"]
	path = Video
	url = https://github.com/BinghamtonRover/Video
